<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title class="text-center">The Noir Shack | Film Noir movies from the 1940's and 1950's</title>
   
    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="css/normalize.css.scss">
    <link rel="stylesheet" href="css/main.css.scss">
    <link rel="stylesheet" href="css/responsive.css.scss">
    <link rel="stylesheet" href="css/movies.css.scss">
     <link rel="stylesheet" href="css/normalize.css.scss">
      <link rel="stylesheet" href="css/scaffolds.css.scss">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <header>
      <a href="index.html" id="logo">
      </a>
      <div>
         <div class="container-fluid">
         <div class="row">
         <div class="col-sm-4 col-md-4 col-lg-4" style="background-color:red">
            <img src="http://www.funfonix.com/clipart1/shack.jpg" class="img-responsive; img-circle" alt="Responsive image" width="150" height="150">
         </div>

          <div class="col-sm-4 col-md-4 col-lg-4" style="background-color:red">
           <h1 class="text-center">The Noir Shack</h1>
           <h2 class="text-center">Film Noir movies from the 1940's and 1950's</h2>
         </div>
    
      <div class="col-sm-4 col-md-4 col-lg-4" style="background-color:red">
        <ul>
          <%= link_to 'Movies List', movies_path %> |
          <%= link_to "Admin-List of Users", users_path %>
          <li><a href="about.html">Register</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
   </header>
</head>
  <body>
    
   </div>
 <div class="container-fluid">
      <h1>Film Noir is...</h1>
     
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4" style="">
          <p> 1. A French term meaning "black film," or film of the night, inspired by the Series Noir, a line of cheap paperbacks that translated hard-boiled American crime authors and found a popular audience in France.<p></p>

2. A movie which at no time misleads you into thinking there is going to be a happy ending.<p></p>

3. Locations that reek of the night, of shadows, of alleys, of the back doors of fancy places, of apartment buildings with a high turnover rate, of taxi drivers and bartenders who have seen it all.<p></p>

4. Cigarettes. Everybody in film noir is always smoking, as if to say, "On top of everything else, I've been assigned to get through three packs today." The best smoking movie of all time is "Out of the Past," in which Robert Mitchum and Kirk Douglas smoke furiously at each other. At one point, Mitchum enters a room, Douglas extends a pack and says, "Cigarette?" and Mitchum, holding up his hand, says, "Smoking."<p></p>



</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" style="">
          <p>5. Women who would just as soon kill you as love you, and vice versa.<p></p>

6. For women: low necklines, floppy hats, mascara, lipstick, dressing rooms, boudoirs, calling the doorman by his first name, high heels, red dresses, elbowlength gloves, mixing drinks, having gangsters as boyfriends, having soft spots for alcoholic private eyes, wanting a lot of someone else's women, sprawling dead on the floor with every limb meticulously arranged and every hair in place.<p></p>

7. For men: fedoras, suits and ties, shabby residential hotels with a neon sign blinking through the window, buying yourself a drink out of the office bottle, cars with running boards, all-night diners, protecting kids who shouldn't be playing with the big guys, being on first-name terms with homicide cops, knowing a lot of people whose descriptions end in "ies," such as bookies, newsies, junkies, alkys, jockeys and cabbies.<p></p>


        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" style="">
          <p>8. Movies either shot in black and white, or feeling like they were.<p></p>

9. Relationships in which love is only the final flop card in the poker game of death.<p></p>

10. The most American film genre, because no society could have created a world so filled with doom, fate, fear and betrayal, unless it were essentially naive and optimistic.</p></p>

<p> <a href="http://www.rogerebert.com/rogers-journal/a-guide-to-film-noir-genre"><strong>A Guide to Film Noir Genre by Roger Ebert, January 30, 1995.</strong></a> <p> <img src="http://ia.media-imdb.com/images/M/MV5BMTYzNjI4MzU5Ml5BMl5BanBnXkFtZTcwMTY5OTQyMQ@@._V1_.jpg" alt="Quicksand" height="200" width="170"></p></p></a>
          
        </div>
      </div>
    </div>


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


  </body> 
</html>
