<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title class="text-center">The Noir Shack | Film Noir movies from the 1940's and 1950's</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <header>
      <a href="index.html" id="logo">
         <div = class="container">
            <img src="http://www.funfonix.com/clipart1/shack.jpg" class="img-responsive; img-circle" alt="Responsive image" width="150" height="150">
         </div>
         <div class="container">
           <h1 class="text-center">The Noir Shack</h1>
           <h2 class="text-center">Film Noir movies from the 1940's and 1950's</h2>
         </div>
      </a>
      <nav>
        <ul>
          <li><a href="index.html" class="selected">Portfolio</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
</style>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

</header>
    
</head>
<body>

<div class="img">
    <a target="_blank" href="https://archive.org/details/DementiaDaughterOfHorror1955">
    <img src="http://ia.media-imdb.com/images/M/MV5BMTg3NjEwNjExOF5BMl5BanBnXkFtZTcwNjYxNTAyMQ@@._V1_SY317_CR5,0,214,317_AL_.jpg" alt="Dementia" width="120" height="120">
   </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="img">
  <a target="_blank" href="https://archive.org/details/BehindGreenLights_high_Q_mp4">
    <img src="http://upload.wikimedia.org/wikipedia/en/9/96/Behind_Green_Lights_FilmPoster.jpeg" alt="Green_Lights" width="120" height="120">
  </a>
  <div class="desc">Behind Green Lights (1946)</div>

</div>
<div class="img">
  <a target="_blank" href="klematis3_big.htm">
    <img src="klematis3_small.jpg" alt="Klematis" width="110" height="90">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="img">
  <a target="_blank" href="klematis4_big.htm">
    <img src="klematis4_small.jpg" alt="Klematis" width="120" height="120">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>



      <footer>
        <a href="http://twitter.com/nickrp"><img src="img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="http://facebook.com/nickpettit"><img src="img/facebook-wrap.png" alt="Facebook Logo"class="social-icon"></a>
        <p>&copy; 2014 Wendy Stewart </p>
      </footer>
    </div>
  </body>
</html>
