<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title class="text-center">The Noir Shack | Film Noir movies from the 1940's and 1950's</title>
   
    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="css/normalize.css.scss">
    <link rel="stylesheet" href="css/main.css.scss">
    <link rel="stylesheet" href="css/responsive.css.scss">
    <link rel="stylesheet" href="css/movies.css.scss">
     <link rel="stylesheet" href="css/normalize.css.scss">
      <link rel="stylesheet" href="css/scaffolds.css.scss">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <header>
      <a href="index.html" id="logo">
      </a>
      <div>
         <div class="container-fluid">
         <div class="row">
         <div class="col-sm-4 col-md-4 col-lg-4" style="background-color:red">
            <img src="http://www.funfonix.com/clipart1/shack.jpg" class="img-responsive; img-circle" alt="Responsive image" width="150" height="150">
         </div>

          <div class="col-sm-4 col-md-4 col-lg-4" style="background-color:red">
           <h1 class="text-center">The Noir Shack</h1>
           <h2 class="text-center">Film Noir movies from the 1940's and 1950's</h2>
         </div>
    
      <div class="col-sm-4 col-md-4 col-lg-4" style="background-color:red">
        <ul>
          <li><a href="index.html" class="selected">Sign In</a></li>
          <li><a href="about.html">Register</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
   </header>
</head>
  <body>
    
   </div>
 <div class="container-fluid">
      <h1>Hello World!</h1>
      <p>Resize the browser window to see the effect.</p>
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4" style="background-color:light-grey;">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" style="background-color:lavenderblush;">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" style="background-color:lavenderblush;">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body> 
</html>
