<!DOCTYPE HTML>
<html>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>The Smoking Page</title>
  <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<body>	
  <div class="container clearfix">
 <%= link_to 'Welcome', welcome_index_path %>
    
    	</div>
	
</body>
</html>