
 /* hyperlink */
a {
	font-weight: 100;
	font-size: 1.500em;
	color: yellow;
}

body {
	font-family: 'Nunito', sans-serif;
	color: #faf3bc;
	background: #420600 url('img/bg-texture.jpg') repeat;
}

.btn {
	padding: 15px 30px;
	margin: 40px 0;
	color: black;
	background: green url('img/texture.png') no-repeat right top;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
}

btn:hover {
	background-color: #4cc4a7;
}

.btn-small {
	padding: 10px 25px;
	margin: 50px 0;
	color: #faf3bc;
	font-size: .75em;
	background: #b22316 url('texture.png') no-repeat right bottom;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
}

.btn-small:hover {
	background-color: #c62718;
}

.city {
  float: left;
  margin: 5px;
  padding: 15px;
  width: 300px;
  height: 300px;
  border: 25px solid black;
  font-color: yellow;
} 

h1 {
	font-size: 2.750em;
	font-weight: 100;
	letter-spacing: -1.5px;
	color: white;
}

h2 {
	font-weight: 100;
	font-size: 1.500em;
	color: #b4c34f;
}

h3 {
	font-weight: 100;
	font-size: 1.125em;
	color: #ed6c85;
}

#intro {
	margin: 50px 0 75px 0;
}

.movies {
    color: yellow;
}

.submit-btn {
	padding: 10px 25px;
	margin: 20px 0 50px 0;
	color: #faf3bc;
	font-family: 'Nunito', sans-serif;
	border: 0;
	font-weight: 100;
	font-size: .75em;
	background: #b22316 url('texture.png') no-repeat right top;;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
}


